body {
    font-family: Arial, Helvetica, sans-serif;
}

.btn {
    height: 35px;
    padding: 8px;
    color: white;
    background-color: #116d97;
    border: none;
    outline: none;
    display: block;
    margin: 8px 0px 0px 5px;
    border-radius: 5px;
    
}

.btn:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(79, 165, 214);
}


.paras {
  margin: 11px 4px 0px 0px;
  color: #0c597c;
  font-size: 17.6px;
}

.paras-pad {
  padding: 10px;
}

/* Split the screen in half */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 10px;
    
  }
  
  /* Control the left side */
  .left {
    left: 0;
    background-color: rgb(82, 78, 78);
  }
  
  /* Control the right side */
  .right {
    right: 0;
    background-color: rgb(255, 255, 255);
  }

  .leftb {
    float: left;
    width: 50%;
    box-sizing: border-box;
  }

  .rightb {
    float: right;
    width: 50%;
    box-sizing: border-box;
  }

  .clr-fix {
    clear: both;
  }

  .canvasres {
    width: 100%;
    height: 97%;
    
  }